* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   /* vertical-align: top; */
}

body {
    font-family: 'Assistant', sans-serif;
}

.container {
    background-color: rgb(0, 0, 0);
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(220, 215, 169);
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    height: 290px;
}

h1 {
    font-size: 67px;
    font-weight: 900;
    top: -82px;
    left: -9px;
    position: relative;
    color: #f9af04;
    text-shadow: 2px 2px 5px #252525;

  
}
.humburger_img {
    width: 322px;
    position: absolute;
    top: 77px;
    left: 100px;
    
}

ul li {
    list-style-type: none;
    padding-top: 12px;
    font-size: 27px;
    font-weight: 900;
}

ul li a {
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px #606060;
}
.video-box {
    text-align: center;
}


.video-box video {
    width: 640px;
    height: 360px;
    margin-top: 42px;
}